{% extends "base.html" %}
{% load static %}

{% block page_title %}Viking Gym - Memberships{% endblock %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="brand-font">Memberships</h2>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'memberships' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row">
                    <!-- MEMBERSHIP CARDS -->
                    {% for membership in memberships %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="card h-100 border-0">
                        <!-- Membership type -->
                            <div class="card-body pb-0">
                                <p class="lead mb-0 text-left font-weight-bold">{{ membership.membership_type }}</p>
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted"
                                    href="{% url 'memberships' %}?category={{ membership.category.name }}">
                                        <i class="fas fa-tag mr-1"></i>{{ membership.category }}</a>
                                </p>
                                <p class="lead mb-0 text-left font-weight-bold">Price: £{{ membership.price }}<small>/month</small></p>
                                <!-- Membership description -->
                                <p class="mt-3" id="product_description">{{ membership.description|linebreaks }}</p>
                            </div>

                            <!-- ADD TO SHOPPING BAG FORM -->
                            <form class="form" action="{% url 'select_membership' membership.id %}" method="POST">
                                {% csrf_token %}
                                <!-- BUTTONS -->
                                <div class="col{% if s %}-12 mt-2{% endif %}">
                                    <!-- More details button -->
                                    <a href="{% url 'membership_detail' membership.id %}"
                                    class="btn btn-outline-black rounded-0 mt-5">
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                        <span class="text-uppercase">View details</span>
                                    </a>
                                    {% if user.is_authenticated %}
                                        {% if membership.membership_type == current_membership %}
                                            <span class="mt-5">
                                                <small>This is your current membership</small>
                                            </span>
                                        {% else %}
                                            <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Select membership">
                                            <input type="hidden" name="membership_type" value="{{ membership.membership_type }}"
                                            />
                                        {% endif %}
                                    {% else %}
                                        <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Select membership">
                                        <input type="hidden" name="membership_type" value="{{ membership.membership_type }}"
                                        />
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- BACK TO TOP BUTTON -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Scroll to top button -->
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}
