{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <!-- Selected membership heading -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Selected membership</h2>
                <hr>
            </div>
        </div>
        <div class="d-block d-md-none">
            <!-- Membership total -->
            <div class="row">
                <div class="col">
                    {{ membership.price }}
                </div>
            </div>
            <!-- Checkout buttons -->
            <div class="row">
                <div class="col">
                    <!-- Back to memberships button -->
                    <a href="{% url 'memberships' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to memberships</span>
                    </a>
                    <!-- Secure payment button -->
                    <a href="{% url 'membership_payment' %}" class="btn btn-black rounded-0 btn-lg">
                        <span class="text-uppercase">Secure Payment</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                    <p class="text-muted mb-5">A summary of your membership is below</p>
                </div>
            </div>
            <!-- Membership info -->
            <div class="col-12 col-sm-6 mb-2">
                <p class="my-0"><strong>{{ membership.membership_type }}</strong></p>
            </div>
        </div>
    </div>
