{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_title %}Viking Gym - Member Profile{% endblock %}

<!-- PAGE HEADER -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container profile-container">
        <!-- HEADER WITH USER'S NAME' -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4"> {{ user.userprofile.profile_first_name }} {{ user.userprofile.profile_last_name}}'s profile</h2>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <!-- PERSONAL INFORMATION -->
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <h5 class="mb-5"><strong>Your personal information</strong></h5>
                    </div>
                    <!-- Profile update form collapsable link -->
                    <div class="col-6">
                        <a class="update-info-link text-right" data-toggle="collapse" href="#profile-update-form" role="button" aria-expanded="false" aria-controls="profile-update-form" onclick="showForm()">
                            <small>Update Personal Information
                                <span>
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </small>
                        </a>
                    </div>
                </div>
                <div class="container-fluid p-0">
                    <div class="row pt-1">
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>First name: </strong>{{ user.userprofile.profile_first_name }}</p>
                        </div>
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>Last name: </strong>{{ user.userprofile.profile_last_name }}</p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-12">
                            <p class="mb-0 text-left"><strong>Email address: </strong>{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>Username: </strong>{{ user.username }}</p>
                        </div>
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>Phone number: </strong>{{ user.userprofile.profile_phone_number }}</p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-12">
                            <p class="mb-0 text-left"><strong>Address: </strong>{{ user.userprofile.profile_street_address1 }} 
                            {% if user.userprofile.profile_street_address2 != None %}{{ user.userprofile.profile_street_address2 }}
                            {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>Town or city: </strong>{{ user.userprofile.profile_town_or_city }}</p>
                        </div>
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>Postcode: </strong>{{ user.userprofile.profile_postcode }}</p>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>County, council or state: </strong>
                            {% if user.userprofile.profile_county != None %} {{ user.userprofile.profile_county }}
                            {% endif %}
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="mb-0 text-left"><strong>Country: </strong>{{ user.userprofile.profile_country.name }}</p>
                        </div>
                    </div>
                    <hr class="mt-5">
                    <div class="row pt-1">
                        <!-- MEMBERSHIP SUMMARY -->
                        <div class="col-12">
                            <h5 class="mb-5"><strong>Your membership information</strong></h5>
                            <div class="membership-info table-responsive">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Subscription number</th>
                                            <th>Membership</th>
                                            <th>Joining date</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subscription in subscriptions %}
                                            <tr>
                                                <td>
                                                 <a href="{% url 'user_subscription' subscription.subscription_number %}" title="{{ subscription.subscription_number }}" class="summary-link">
                                                 {{ subscription.subscription_number }}</a>
                                                </td>
                                                <td>
                                                    {% for item in subscription.subscriptionlineitems.all %}
                                                        {{ item.membership.friendly_name }}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ subscription.date }}</td>
                                                <td>£{{ subscription.subscription_total }}<small>/month</small></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <!-- ORDERS SUMMARY -->
            <div class="col-12 col-lg-6">
                <h5 class="mb-5"><strong>Your orders history</strong></h5>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}" class="summary-link">{{ order.order_number|truncatechars:6 }}</a>
                                    </td>
                                    <td class="small">{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}<small>/month</small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- UPDATE PROFILE FORM -->
        <div class="row form-row">
            <div class="col-12 mb-3">
                <form class="collapse mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">First name *</p></legend>
                            {{ form.profile_first_name | as_crispy_field }}
                        </div>
                        <div class="col-4">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">Last name *</p></legend>
                            {{ form.profile_last_name | as_crispy_field }}
                        </div>
                        <div class="col-4">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">Phone number *</p></legend>
                            {{ form.profile_phone_number | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">Address *</p></legend>
                            {{ form.profile_street_address1 | as_crispy_field }}
                        </div>
                        <div class="col-6">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">Address (continuation)</p></legend>
                            {{ form.profile_street_address2 | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">Town or city *</p></legend>
                            {{ form.profile_town_or_city | as_crispy_field }}
                        </div>
                        <div class="col-3">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">Postcode *</p></legend>
                            {{ form.profile_postcode | as_crispy_field }}
                        </div>
                        <div class="col-3">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">County, council or state</p></legend>
                            {{ form.profile_county | as_crispy_field }}
                        </div>
                        <div class="col-3">
                            <legend class="fieldset-label text-muted w-auto"><p class="small mb-0">Country *</p></legend>
                            {{ form.profile_country | as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-cyan text-uppercase float-right">Update your information
                        <span>
                            <i class="fas fa-check"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

    <!-- SCROLL TO UPDATE INFO FORM-->
    <script type="text/javascript">
        $(".update-info-link").click(function() {
        $('html,body').animate({
            scrollTop: $(".form-row").offset().top},
            'slow');
        });
	</script>
{% endblock %}