{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'memberships_payment/css/payment.css' %}">
{% endblock %}

{% block page_title %}Viking Gym - Payment success!{% endblock %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- CONFIRMATION EMAIL MESSAGE -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You!</h2>
                <hr>
                <p class="text-black">Your subscription information is below. A confirmation email will be sent to <strong>{{ subscription.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <!-- SUBSCRIPTION CONFIRMATION WRAPPER -->
                <div class="subscription-confirmation-wrapper p-2 border">
                    <!-- SUBSCRIPTION INFO -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Subscription Info:</small>
                        </div>
                    </div>
                    <!-- SUBSCRIPTION Number -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Subscription Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.subscription_number }}</p>
                        </div>
                    </div>
                    <!-- SUBSCRIPTION Date -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Subscription Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.date }}</p>
                        </div>
                    </div>
                    <!-- SUBSCRIPTION DETAILS -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Subscription Details:</small>
                        </div>
                    </div>

                    {% for item in subscription.subscriptionlineitems.all %}
                    <div class="row">
                        <!-- Item Details -->
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">
                                {{ item.membership.friendly_name }}
                            </p>
                        </div>
                        <!-- Item price -->
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£{{ item.membership.price }}/month</p>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- PERSONAL INFO -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Your details:</small>
                        </div>
                    </div>
                    <!-- First name -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Fist Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.first_name }}</p>
                        </div>
                    </div>
                    <!-- Last name -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Last Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.last_name }}</p>
                        </div>
                    </div>
                    <!-- Address 1 -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.street_address1 }}</p>
                        </div>
                    </div>
                    <!-- Address 2 -->
                    {% if subscription.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- County -->
                    {% if subscription.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Town or City -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.town_or_city }}</p>
                        </div>
                    </div>
                    <!-- Postcode -->
                    {% if subscription.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Country -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.country }}</p>
                        </div>
                    </div>
                    <!-- Phone Number -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ subscription.phone_number }}</p>
                        </div>
                    </div>
                    <!-- BLILLING INFO -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>
                    <!-- Grand Total -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£{{ subscription.subscription_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
			<div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                <!-- Back to profile button -->
                <a href="{% url 'profile' %}" class="btn btn-cyan my-2">
					<span class="icon mr-2">
						<i class="fas fa-angle-left"></i>
					</span>
					<span class="text-uppercase">Back to profile</span>
				</a>
            {% else %}
                <!-- Link to latest deals -->
				<a href="{% url 'profile' %}" class="btn btn-cyan my-2">
					<span class="icon mr-2">
						<i class="fas fa-user"></i>
					</span>
					<span class="text-uppercase">Go to your profile</span>
				</a>
            {% endif %}
			</div>
		</div>
	</div>

{% endblock %}