.order-history {
    max-height: 416px;
    overflow-y: auto;
}

thead {
    color: #293949;
}

.summary-link {
    color: #40c1a6 !important;
    text-decoration: none;
}

.summary-link:hover {
    color: #293949 !important;
    text-decoration: none;
}

#profile-update-form .form-control {
    color: #293949;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_profile_country,
#id_profile_country option:not(:first-child) {
    color: #293949;
}

#id_profile_country option:first-child {
    color: #aab7c4;
}