.order-history {
    max-height: 416px; /* of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #293949;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_profile_country,
#id_profile_country option:not(:first-child) {
    color: #293949;
}

#id_profile_country option:first-child {
    color: #aab7c4;
}