html {
  height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    height: calc(100vh - 68px);
    color: #293949;
}

.logo-font {
    text-align: center;
}

/* ----------------------------------------- TOP MENU */

.bg-viking-dark {
    background-color: #293949;
}

.brand-font {
    text-transform: uppercase;
}

/* ---------------- Custom toggler */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(64,193,166,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #40c1a6;
} 

/* ---------------- Navbar */
.navbar-brand {
    width: fit-content;
    font-size: 1.75rem;
}

.navbar-brand:hover,
.social-link:hover {
    text-decoration: none;
    color: #40c1a6;
}

.topmenu-list {
    font-size: 1.25rem;
}

/* ---------------- Shop dropdown menu */
#shopdropdown-menu {
    background-color: #293949;
    margin: 0;
    border: 0;
}

#shopdropdown-menu a,
.navbar-brand,
.navbar-link,
.nav-link,
.social-link {
    color: #40c1a6;
}

#shopdropdown-menu a:hover,
.navbar-link:hover,
.nav-link:hover {
    text-decoration: none;
    color: #293949;
    background-color: #40c1a6;
}

/* ---------------- Search bar */
#search-bar-icon {
    color: #40c1a6;
}

#search-bar,
#search-bar-btn {
    border-color: #40c1a6 !important;
}

/* ----------------------------------------- CAROUSEL */
.carousel-caption-centered {
    bottom: 15%;
}

.caption-dark {
    color: #293949
}

.caption-cyan {
    color: #40c1a6;
}

/* ----------------------------------------- FOOTER*/
footer {
    color: #40c1a6;
}

.social-icon {
    color: #40c1a6;
}

/* ----------------------------------------- MOBILE TOP HEADER */
.navbar-toggler {
    color: #40c1a6 !important;
    border: 2px solid #40c1a6 !important;
}

/* ----------------------------------------- MOBILE MENU */
#mobile-menu a {
    color: #40c1a6;
}

#mobile-menu a:hover {
    background-color: #40c1a6;
    color: #293949;
}


/* ----------------------------------------- SHOP/MEMBERSHIPS NAV */
/* For categories in memberships/shop nav and 
    links to category in product card and product_detail.html */
.category-link {
    color: #293949 !important;
    font-size: 1.25rem;
}

.category-dropdown-menu {
    background-color: #40c1a6;
    margin-top: 0;
    border: 0;
}

.category-dropdown:active,
.show > .category-link {
    background-color: #40c1a6 !important;
    color: #293949 !important;
}

.category-dropdown-menu a:hover {
    background-color: #293949;
    color: #40c1a6;
}

/* Current category if statement in products.html */
a.category-badge span{
    font-size: 1.25rem;
    background: #293949 !important;
    color: #40c1a6 !important;
    border: 3px solid #293949;
    padding: 8px;
    margin-top: 8px;
}

a.category-badge > span.badge:hover {
    background: #293949 !important;
    color: #40c1a6 !important;
    border: 3px solid #40c1a6;
}

/* .shop-home-link shown on same row as sort selector box after
    search or filetering by category */
.shop-home-link,
.card-category-link {
    color: #40c1a6 !important;
}

.shop-home-link:hover,
.card-category-link:hover {
    text-decoration: none !important;
    color: #293949 !important;
}

/* ----------------------------------------- SORT-SELECTOR */
#sort-selector {
    background-color: #40c1a6;
    border: 3px solid #293949;
}

#sort-selector option:focus-within {
    background-color: #293949 !important;
    color: #40c1a6 !important;
}

/* ----------------------------------------- ICONS */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ----------------------------------------- CONTAINERS */
.bag-container,
.memberships-container,
.profile-container,
.allauth-form-inner-content {
    min-height: 90%;
}

/* ----------------------------------------- BUTTONS */

/* ---------------- Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 3px solid #40c1a6;
}

.btt-link,
.update-info-link,
.remove-item {
    cursor: pointer;
}

.fa-arrow-up {
    color: #40c1a6;
}

/* ---------------- Cyan buttons */
.btn-cyan {
    background: #40c1a6;
    color: #293949 !important;
    border: 3px solid #293949;
}

.btn-cyan:hover,
.btn-cyan:active,
.btn-cyan:focus {
    background: #293949;
    color: #40c1a6 !important;
    border: 3px solid #293949;
}

/* ---------------- Dark buttons */
.btn-outline-dark {
    background: #293949;
    color: #40c1a6 !important;
    border: 3px solid #293949;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: #293949;
    color: #40c1a6 !important;
    border: 3px solid #40c1a6;
}

/* ---------------- Add to bag button */
.add-to-bag-btn {
    line-height: 1.5rem;
}

/* ----------------------------------------- QUANTITY INPUT */
.form-control {
    color: #293949;
}

.form-cotrol-select {
    border: 2px solid #293949; 
}

.decrement-qty,
.increment-qty {
    background-color: #40c1a6;
}

.update-info-link {
    color: #40c1a6 !important;
    text-decoration: none;
}

.update-info-link:hover {
    color: #293949 !important;
    text-decoration: none;
}

/* ----------------------------------------- SHOPPING/MEMBERSHIPS BAG */
.bag-thead {
    font-size: 1.25rem;
}

/* ----------------------------------------- CHECKOUT/PAYMENT FORMS */
legend {
    font-size: 1rem;
}

/* ----------------------------------------- MESSAGE CONTAINER */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999;
}

/* ----------------------------------------- TOASTS */
.custom-toast {
    max-height: 416px;
    overflow-y: auto;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-header {
    color: #293949;
}

.alert-success {
    color: #293949;
    background-color: #40c1a6;
    border-color: #40c1a6;
}


/* ----------------------------------------- ALLAUTH FORMS */
.allauth-form-inner-content {
    width: 100%;
    min-height: 75%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* Hide all labels execpt remember me checkbox on login page */
.allauth-form-inner-content label:not([for='id_remember']){
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content a {
	color: #40c1a6; 
}

/* In login and signup templates */
.allauth-link {
    color: #40c1a6 !important;
    text-decoration: none;
}

.allauth-link:hover {
    color: #293949 !important;
    text-decoration: none;
}

/* ----------------------------------------- MEDIA QUERIES */
@media (min-width: 1200px) {
/* Slightly larger container on xl screens */
  .container {
    max-width: 80%;
  }
}
/* Larger text on carousels */
.carousel-item {
    height: 32rem;
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 67px;
    }
}

/* ------------------------------------ MAX WIDTH 991PX */
@media (max-width: 991px) {
    .header-container {
        padding-top: 50px;
    }

    body {
        height: calc(100vh - 50px);
    }

    .nav-link {
        padding: 0.15rem;
    }

    .category-link {
    color: #40c1a6;
    font-size: 1rem;
}

    .navbar-toggler {
        padding: .2rem .2rem;
        font-size: 1rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    /* To compensate offset used on larger screens */
    .order-confirmation-wrapper,
    .subscription-confirmation-wrapper {
        margin-left: 0!important;
    }
}
/* ------------------------------------ MAX WIDTH 575PX */
@media (max-width: 575px) {
    .footer-content {
        text-align: center;
    }

    .main-carousel-inner {
        height: 200px;
    }

    .carousel-caption-centered {
        bottom: 50%;
    }

    .carousel-btn:hover {
        text-decoration: none;
    }

    .btt-button {
        height: 24px;
        width: 24px;
    }

    a.category-badge span {
        font-size: 1rem;
        padding: 4px;
    }

    /* Small slides only shown on small screens */
    .small-slide {
        background-color: #40c1a6;
        height: 24rem;
    }

    .small-carousel-inner {
        height: 150px;
    }

    .small-carousel-caption {
        bottom: 65%;
    }
}

/* ------------------------------------ MIN WIDTH 575 */
@media (min-width:576px) {
    .remove-item {
        float: right;
    }
}
