<!doctype html>
<div class="navbar-collapse collapse" id="mobile-menu">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- HOME -->
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
               Home
            </a>
        </li>
        <!-- MEMBERSHIPS -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" id="all-memberships-link"  href="{% url 'memberships' %}" role="button" aria-haspopup="true" aria-expanded="false">Memberships</a>
        </li>
        <!-- SHOP DROPDOWN -->
        <li class="nav-item dropdown">
            <!-- Shop dropdown toggle -->
            <a class="dropdown-toggle font-weight-bold nav-link text-black mr-5" href="#" id="shopdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Shop</strong></a>
            <div class="dropdown-menu" aria-labelledby="shopdropdown" id="shopdropdown-menu">
                        
                        <!-- Clothing dropdown -->
                        <a class="dropdown-item" id="clothing-link" href="{% url 'shop' %}?category=vests,tshirts,long_sleeves,shorts,track_bottoms" role="button" aria-haspopup="true" aria-expanded="false">Clothing</a>

                        <!-- Footwear dropdown -->
                        <a class="dropdown-item" id="shoes-link" href="{% url 'shop' %}?category=trainers,socks" role="button" aria-haspopup="true" aria-expanded="false">Footwear</a>

                        <!-- Accessories dropdown -->
                        <a class="dropdown-item" id="accessories-link" href="{% url 'shop' %}?category=backpacks,bags,balls,water_bottles" role="button" aria-haspopup="true" aria-expanded="false">Accessories</a>
                        
                    <div class="dropdown-divider"></div>
                        <!-- All products -->
                        <a class="dropdown-item" href="{% url 'shop' %}">All products</a>

        </li>
    </ul>
</div>
