<!doctype html>
<div class="navbar-collapse collapse" id="shop-nav">
    <ul class="nav nav-pills w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" id="all-products-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">All products</a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="#">By price</a>
                <a class="dropdown-item" href="#">By rating</a>
                <a class="dropdown-item" href="#">By category</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">All products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" id="shoes-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shoes</a>
            <div class="dropdown-menu" aria-labelledby="shoes-link">
                <a class="dropdown-item" href="#">By price</a>
                <a class="dropdown-item" href="#">By rating</a>
                <a class="dropdown-item" href="#">By category</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">All shoes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" id="clothing-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clothing</a>
            <div class="dropdown-menu" aria-labelledby="clothing-link">
                <a class="dropdown-item" href="#">By price</a>
                <a class="dropdown-item" href="#">By rating</a>
                <a class="dropdown-item" href="#">By category</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">All clothing</a>
            </div>
        </li>
    </ul>
</div>
