{% extends "account/base.html" %}

{% load i18n %}

{% block page_title %}Viking Gym - Log out{% endblock %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid  m-auto">
<hr>
<h2 class="logo-font mb-4">{% trans "Log out" %}</h2>
<hr>

<p class="text-center">{% trans 'Are you sure you want to log out?' %}</p>

<form method="post" action="{% url 'account_logout' %}"  class="text-center m-auto">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-outline-dark rounded text-uppercase">
    <span class="icon">
        <i class="fas fa-angle-double-left"></i>
    </span>
    {% trans 'Log out' %}
  </button>
</form>

</div>

{% endblock %}
