{% extends "base.html" %}
{% load static %}

{% block page_title %}Viking Gym - Selected membership{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2 bag-container">
        <!-- Memberships bag heading -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Review your selected membership</h2>
                <hr>
            </div>
        </div>
        <!-- Memberships bag contents -->
        <div class="row">
            <div class="col">
                {% if membershipsbag_items %}
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="bag-thead">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Membership Details</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            {% for item in membershipsbag_items %}
                                <tr>
                                    <!-- Bag Item info -->
                                    <td class="py-3">
                                        <h3 class="my-0 bag-thead"><strong>{{ item.membership.friendly_name }}</strong></h3>
                                    </td>
                                    <!-- Membership description -->
                                    <td class="py-3">
                                        <p class="my-0">{{ item.membership.full_description|linebreaks }}</p>
                                    </td>
                                    <!-- Membership price -->
                                    <td class="py-3">
                                        <p class="my-0"><strong>£{{ item.membership.price }}</strong><small> /month</small></p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- Bag total -->
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h4><strong>Total payment now *: £{{ membership_total|floatformat:2 }}</strong></h4>
                                    <small>* This payment is for the first month of your membership.</small>
                                </td>
                            </tr>
                            <!-- Checkout buttons -->
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'memberships' %}" class="btn btn-outline-dark">
                                        <span class="icon">
                                            <i class="fas fa-angle-double-left"></i>
                                        </span>
                                        <span class="text-uppercase">Back to memberships list</span>
                                        </a>
                                        <a href="{% url 'account_signup' %}" class="btn btn-cyan">
                                        <span class="text-uppercase">Continue</span>
                                        <span class="icon">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>
                                        </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <!-- Empty bag message and keep memberships link -->
                    <p class="lead mb-5">You haven't selected any memberships.</p>
                    <a href="{% url 'memberships' %}" class="btn btn-outline-dark btn-lg">
                        <span class="icon">
                            <i class="fas fa-angle-double-left"></i>
                        </span>
                        <span class="text-uppercase">Back to memberships list</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
