<div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
    <div class="sort-select-wrapper w-50">
        <select id="sort-selector" class="custom-select custom-select-sm py-0">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
            Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
            Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
            Price (high to low)</option>
            <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>
            Brand (A-Z)</option>
            <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>
            Brand (Z-A</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
            Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
            Name (Z-A)</option>
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
        </select>
    </div>
</div>